body{
  padding: 0;
  margin: 0;
}


.cabeceraForm{
  color:white;
  font-weight: bold;
  font-size: 20px;
  background: gray;
  padding: 5px;
}
.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.columna{
  width: 50%;
  padding: 10px;
}

.accordion1 {
    background: black;
    color:white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top: 5px;
}

.active, .accordion1:hover {
    background: #019CBB;
}


.panel {
    padding: 10px 18px;
    background-color: white;
    display: block;
    overflow: hidden;
    /*border-bottom: 5px solid gray;*/
}



.grande{
  color:black;
  background:white;
  padding: 30px;
  font-size: 20px;
  margin-bottom: 10px;
}

.bordeabajo{
    border: 0px;
    border-radius: 0px;
    border-bottom: 2px solid black;
}

@media (max-width: 1001px) {
  .columna{
    width: 50%;
    padding: 10px;
  }
}
